@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'serif';
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 335px;
    height: 45px;
    padding: 20px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
}

.search button {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.search img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.weather-icon {
    margin: 40px auto 10px;
}

.weather-icon img {
    width: 150px;
    height: 150px;
}

.temperature-city {
    padding: 0;
    line-height: 1.3;
}

.temperature-city h1 {
    font-size: 6rem;
    font-weight: 600;
}

.temperature-city h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.humidity, .wind-speed {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.extra img {
    width: 40px;
    height: 40px;
}

.extra h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.extra h4 {
    font-weight: 500;
    font-size: 1rem;
}

.texts {
    text-align: start;
}

.weather {
    display: none;
}

.error {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20px;
    background-color: red;
    font-weight: 500;
}